@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para personalizar el scrollbar en navegadores web */
.scrollbar-thin {
    scrollbar-width: thin; /* Para Firefox */
}

.scrollbar-thumb {
    background-color: rgb(40, 149, 128); /* Verde oscuro */
    border-radius: 8px; /* Bordes redondeados */
}

.scrollbar-thumb:hover {
    background-color: rgb(40, 149, 128); /* Verde más oscuro en hover */
}

/* Para Chrome, Safari y otros navegadores Webkit */
::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: rgb(40, 149, 128); /* Color del pulgar de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2f855a; /* Color del pulgar en hover */
}

::-webkit-scrollbar-track {
    background: transparent; /* Color del fondo de la pista */
}
